.todo-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top : 10px;
}

.todo-input input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 300px;
}

.todo-input button {
  border-radius: 5px;
  border: none;
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-input button:hover {
  background-color: #0056b3;
}

.todo-input button:active {
  transform: scale(0.98);
}