.input-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.name-submit-btn {
  border-radius: 10px;
  border: none;
  background-color: #007BFF; /* 버튼을 파란색으로 설정 */
  color: white;
  padding: 10px 15px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.name-submit-btn:hover {
  background-color: #0056b3; /* 버튼 호버 시 색상 변경 */
}

.name-submit-btn:active {
  transform: scale(0.98); /* 클릭 시 살짝 줄어듦 */
}
